cache/

# docshots temporary render directories
_docshots/
_docshots-*/

# iexec temporary files
iexec.ret
iexec.tmp

# vimtex / latexmk in-place build artifacts
*.aux
*.log
*.out
*.toc
*.xdv
*.fls
*.fdb_latexmk
*.synctex.gz
*.synctex(busy)
/*.pdf
